%p#help_blurb
  Can't find the correct show?
  %br 
  \- Try adding the country, e.g. "Wilfred (US)" instead of "Wilfred"
  %br
  \- Try adding any subtitles, e.g. "Cosmos: A Space-Time Odyssey" instead of "Cosmos"
  %br
  \- You may get faster/more accurate loading with correct spelling!
  %br
  %br
  If you have any other questions, send them to
  = link_to "kevin@kokev.in", "mailto:kevin@kokev.in"