%p#help_blurb
  Can't find the correct show?
  %br 
  %li
    Try adding the country, e.g. 
    %span.stronger "Wilfred (US)" 
    instead of 
    %span.stronger "Wilfred"
  %li 
    Try adding any subtitles, e.g. 
    %span.stronger"Cosmos: A Space-Time Odyssey" 
    instead of 
    %span.stronger "Cosmos"
  %li You may get faster/more accurate loading with correct spelling!
  %br
  If you have any other questions, send them to
  = link_to "kevin@kokev.in", "mailto:kevin@kokev.in"