@mixin box-sizing(){
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-weight: 300;
  margin: 0;
  background-color: #FBFCFC;
  min-height: 100% !important;
  height: 100%;
  color: #222;
}

a {
  color: #397E8E;
  text-decoration: none;
  &:visited {
    color: #397E8E;
  }
  &:hover {
    color: #4495A8;
  }
}

.container {
  background-color: #B9CFD6;
  min-height: 100%;
  display: block;
  .wrapper {
    background-color: #E76E49;
  }
}

.heading {
  margin: auto;
  max-width: 720px; 
  color: #FBFCFC;
  padding-bottom: 20px;

  #header {
    margin: 0;
    padding: 2.8em 1em 0em 1em;
    font-size: 2.8em;
    font-weight: 700;
    text-align: center;
  }

  #subheader {
    text-align: center;
    margin: 0;
    padding: 0 1em 20px 1em;
    line-height: 1.6em;
    font-size: 1.2em;
    font-weight: 400;
  }
}

.error_block {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 8px;
  color: #EE2126;
  padding: 0.5em 1em 0.5em 1em;
  background-color: #ddd;
  border: 2px solid #EE2126;
  border-radius: 5px;
  font-size: 0.9em;
  li {
    list-style: none;
  }
}

#query {
  margin: auto;
  text-align: center;

  #show_title {
    width: 85%;
    padding: 10px;
    font-size: 1.4em;
  }

  a {
    display: inline-block;
    line-height: 15px;

    i {
      display: inline-block;
      font-family: 'fontello';
      color: #53B6CE;
      font-size: 2.8em;
      font-weight: 700;
      border: 0;
      &:hover {
        cursor: pointer;
        color: #F5B642;
      }
    }
  }
}

.content {
  background-color: #B9CFD6;
  height: 100%;
  display: block;
  min-height: 100%;
}

#mid_wrapper {
  background-color: #F19D9C;
  font-weight: 400;
  margin: auto;

  #mid_links {
    max-width: 720px;
    margin: auto;
    display: block;
    padding: 20px 0px 0px 0px;
    text-align: center !important;

    li {
      font-size: 1.2em;
      font-family: "PT Sans";  
      padding: 0px 10px;
      list-style: none;
      margin: 0;
      display: inline;
    }
  }
}

strong {
  font-size: 1.2em;
}

span.stronger {
  font-weight: 700;
}

.next_date {
  color: #E76E49;
}

#shows {
  margin: auto;
  width: 100%;
  max-width: 960px;
  display: block;
  font-family: 'PT Sans';
  font-weight: 400;

  img {
    width: 420px;
    height: 78px;
  }

  li {
    @include box-sizing();
    float: left;
    margin: 10px;
    padding: 10px;
    width: 100%;
    max-width: 440px;
    display: inline-block;
    background-color: #FBFCFC;
    height: 280px;
    position: relative;

    .icon-cancel-circled {
      border-radius: 999px;
      height: 0em;
      width: 0em;
      position: absolute;
      top: -7px;
      right: 12px;
      color: #222;
      font-size: 20px;
      padding: 0;
      &:hover {
        cursor: pointer;
        color: #EE2126;
      }
    }
  }

  h2 {
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 10px;
  }

  p#logged_in_as {
    font-size: 0.8em;
    margin: 0px 0px 0px 10px;
    a {
      color: #E76E49;
      &:hover {
        color: #F19D9C;
      };
    }
  }

  .show_view {
    height: 100%;
    background-color: #FBFCFC;
  }

  .next {
    font-size: 1em;
    p {
      margin-top: 0;
    }
  }

  .last {
    font-size: 1em;
  }

  .ended {
    margin-top: 0;
    font-weight: 700;
    font-size: 1.2em;
    color: #EE2126;
  }

  .title {
    font-size: 0.8em;
    text-align: right;
  }
}

.footer {
  clear: left;
  padding-bottom: 40px;
}

#popin {
  font-weight: 300;
  margin: auto;
  display: block;
  max-width: 720px;
  padding-bottom: 20px;

  #about {
    display: none;

    #about_blurb {
      @include box-sizing();
      font-size: 1em;
      line-height: 1.5em;
      margin: 0;
      width: 100%;
      max-width: 384px;
      display: inline-block;
      padding: 12px;
      font-family: "PT Sans";
    }

    #youtube {
      width: 40%;
      display: inline-block;
      padding: 12px;
    }
  }

  #signup, #login, #help {
    display: none;
    text-align: center;
    padding: 2%;
  }
  
  #help{
    text-align: left !important;
    font-size: 1em;
    margin: 0;
    width: 100%;
    padding: 12px;
    font-family: "PT Sans";
  }

  input[type=text], input[type=password] {
    padding: 5px;
    width: 374px;
    font-size: 1.2em;
    font-family: "Open Sans";
    border: 1px;
    margin-bottom: 5px;
  }

  input[type=submit] {
    font-size: 1.6em;
    padding: 2%;
    background-color: #397E8E;
    color: #FBFCFC;
    border: 0px;
    width: 384px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
            transition: all 0.2s ease;
    &:hover {
      background-color: #4495A8;
    }
  }
}
