@mixin box-sizing(){
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-weight: 300;
  margin: 0;
  background-color: #FBFCFC;
  min-height: 100% !important;
  height: 100%;
  color: #222;
}

a {
  color: #397E8E;
  text-decoration: none;
  &:visited {
    color: #397E8E;
  }
  &:hover {
    color: #4495A8;
  }
}

.container {
  background-color: #B9CFD6;
  min-height: 100%;
  display: block;
  .wrapper {
    background-color: #E76E49;
  }
}

.heading {
  margin: auto;
  max-width: 720px; 
  color: #FBFCFC;

  #header {
    margin: 0;
    padding: 2.8em 1em 0.4em 1em;
    font-size: 2.8em;
    font-weight: 700;
    text-align: center;
  }

  #subheader {
    margin: 0;
    padding: 0 1em 12px 1em;
    line-height: 1.6em;
    font-size: 1.2em;
    font-weight: 400;
  }

  #flash_notice {
    @include box-sizing();
    text-align: center;
    margin: auto;
    color: #EE2126;
    width: 100%;
    padding: 0.5em 1em 0.5em 1em;
    background-color: #F19D9C;
    border: 2px solid #EE2126;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}

#query {
  margin: auto;
  text-align: center;
  margin-bottom: 20px; 

  #show_title {
    width: 90%;
    padding: 10px;
    font-size: 1.4em;
  }
  input[type=submit] {
    background-color: #53B6CE;
    color: #FBFCFC;
    padding: 0.3em 0.4em;
    font-size: 1.5em;
    font-weight: 700;
    border: 0;
    border-radius: 100px;
    &:hover {
      cursor: pointer;
      background-color: #F5B642;
    }
  }
}

.content {
  background-color: #B9CFD6;
  height: 100%;
  display: block;
  min-height: 100%;
}

#mid_wrapper {
  background-color: #F19D9C;
  font-weight: 400;
  margin: auto;

  #mid_links {
    max-width: 720px;
    margin: auto;
    display: block;
    padding: 20px 0px;
    text-align: center !important;

    li {
      font-size: 1.2em;
      font-family: "PT Sans";  
      padding: 0px 10px;
      list-style: none;
      margin: 0;
      display: inline;
    }
  }
}

strong {
  
  font-size: 1.2em;
}

span.stronger {
  font-weight: 700;
}

.next_date {
  color: #E76E49;
}

#shows {
  margin: auto;
  width: 100%;
  max-width: 960px;
  display: block;
  font-family: 'PT Sans';
  font-weight: 400;

  li {
    @include box-sizing();
    float: left;
    margin: 10px;
    padding: 10px;
    width: 100%;
    max-width: 440px;
    display: inline-block;
    background-color: #FBFCFC;
    height: 280px;
  }

  h2 {
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 10px;
  }

  p#logged_in_as {
    font-size: 0.8em;
    margin: 0px 0px 0px 10px;
    a {
      color: #E76E49;
      &:hover {
        color: #F19D9C;
      };
    }
  }

  .show_view {
    height: 100%;
    background-color: #FBFCFC;
  }

  .next {
    font-size: 1em;
  }

  .last {
    font-size: 1em;
  }

  .ended {
    font-weight: 700;
    font-size: 1.2em;
    color: #EE2126;
  }
}

.footer {
  clear: left;
  padding-bottom: 40px;
}

#popin {
  font-weight: 300;
  margin: auto;
  display: block;
  max-width: 720px;

  #about {
    display: none;
    padding-bottom: 1em;

    #about_blurb {
      @include box-sizing();
      font-size: 1em;
      line-height: 1.5em;
      margin: 0;
      width: 100%;
      max-width: 384px;
      display: inline-block;
      padding: 12px;
    }

    #youtube {
      width: 40%;
      display: inline-block;
      padding: 12px;
    }
  }

  #signup, #login {
    display: none;
    text-align: center;
    padding: 2%;
    padding-bottom: 1em;
  }

  input[type=text], input[type=password] {
    padding: 5px;
    width: 374px;
    font-size: 1.2em;
    font-family: "Open Sans";
    border: 1px;
  }

  input[type=submit] {
    font-size: 1.6em;
    padding: 2%;
    background-color: #397E8E;
    color: #FBFCFC;
    border: 0px;
    width: 384px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
            transition: all 0.2s ease;
    &:hover {
      background-color: #4495A8;
    }
  }
}

