@mixin box-sizing(){
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-weight: 300;
  margin: 0;
  background-color: #FBFCFC;
  min-height: 100% !important;
  height: 100%;
}

a {
  color: #F5B642;
  &:visited {
    color: #F5B642;
  }
  &:hover {
    color: #B9CFD6;
  }
}

li {
  @include box-sizing();
  float: left;
  margin: 10px;
  padding: 10px;
  width: 100%;
  max-width: 440px;
  display: inline-block;
  background-color: #FBFCFC;
  height: 280px;
}

.container {
  background-color: #B9CFD6;
  min-height: 100%;
  display: block;
  .wrapper {
    background-color: #E76E49;
  }
}

.heading {
  margin: auto;
  max-width: 720px; 
  color: #FBFCFC;

  #header {
    margin: 0;
    padding: 2.8em 1em 0.4em 1em;
    font-size: 2.8em;
    font-weight: 700;
    text-align: center;
  }

  #subheader {
    margin: 0;
    padding: 0 1em 12px 1em;
    line-height: 1.6em;
    font-size: 1.2em;
    font-weight: 400;
  }
}

#query {
  margin: auto;
  text-align: center;
  #show_title {
    width: 80%;
    padding: 10px;
    font-size: 1.4em;
  }
  input[type=submit] {
    background-color: #53B6CE;
    color: #FBFCFC;
    padding: 0.3em 0.4em;
    font-size: 1.5em;
    font-weight: 700;
    border: 0;
    border-radius: 100px;
    &:hover {
      cursor: pointer;
      background-color: #F5B642;
    }
  }
}

.content {
  background-color: #B9CFD6;
  height: 100%;
  display: block;
  min-height: 100%;
  /*padding-bottom: 40px;*/
}

#mid_links {
  padding: 20px 0px;
  text-align: center;
}

#shows {
  margin: auto;
  width: 100%;
  max-width: 960px;
  display: block;

  h2 {
    margin-left: 10px;
  }

  strong {
    font-weight: 400;
  }

  #demo_show_view {
    /*opacity: 0.5;*/
  }

  .show_view {
    height: 100%;
  }

  .next {
    font-size: 1em;
  }

  .last {
    font-size: 1em;
  }

  .ended {
    font-weight: 400;
    color: #EE2126;
  }
}

.footer {
  clear: left;
  padding-bottom: 40px;
}