$('#errors').html("<div class='error_block'>Sorry, something went wrong! Make sure your spelling is correct and try again.</div>");
$('#query_submit').html("<%= escape_javascript(render 'partials/query_submit_button') %>")